/* Plasma banner style*/

.banner-style-firework--pride {
	background-image: url("/assets/banner_firework/firework_pride.png");
}

.banner-style-firework--median {
	background-image: url("/assets/banner_firework/firework_median.png");
}

.banner-theme-firework {
	background-color: #000;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #ccc;
	text-shadow: 0 0 .2em #000;
}
