/* Plasma banner style*/

.banner-style-plasma--green-blue {
	background-image: url("/assets/banner_plasma/green_blue.webp");
}

.banner-style-plasma--red-amber {
	background-image: url("/assets/banner_plasma/red_amber.webp");
}

.banner-style-plasma--mostly-green {
	background-image: url("/assets/banner_plasma/mostly_green.webp");
}

.banner-style-plasma--mostly-purple {
	background-image: url("/assets/banner_plasma/mostly_purple.webp");
}

.banner-theme-plasma {
	background-color: #333;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #ccc;
	text-shadow: 0 0 .2em #000;
}
