/* Slatecave creations banner style*/

.banner-style-slatecave-creations--tetris {
	background-image: url("/assets/banner_slatecave-creations/tetris-dark.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media (prefers-color-scheme: light) {
	.banner-style-slatecave-creations--tetris {
		background-image: url("/assets/banner_slatecave-creations/tetris.png");
	}
}
