{% set md = "" %}
{% set icon = "" %}
{% set alt = "" %}

{% macro render(icon, alt, md) %}
<div class="chat-box">
	<img src="{{ icon }}" alt="{{ alt }}" class="chat-avatar" width="64" height="64">
	{{ md|markdown|safe }}
</div>
{% endmacro render %}

{% for line in body | split(pat="\n") %}
	{% if line is starting_with(":") %}
		{% if icon and md %}
			{{ self::render(icon=icon, alt=alt, md=md) }}
		{% endif %}
		{% set_global md = "" %}
		{% set metadata = line | trim_start_matches(pat=":") | split(pat=" ::: ") %}
		{% set meta_len = metadata|length %}
		{% if meta_len == 2 %}
			{% set_global icon = metadata[0] | trim %}
			{% set_global alt = metadata[1] | trim %}
		{% else %}
			{{ throw(message="Expected 2 arguments in chat metadata line, found " ~ meta_len ~ "\nA good line looks like:\n\t: <icon> ::: <alt>") }}
		{% endif %}
	{% else %}
		{% set_global md = md ~ line ~ "
" %}
	{% endif %}
{% endfor %}
{% if icon and md %}
	{{ self::render(icon=icon, alt=alt, md=md) }}
{% endif %}

