{% set current_def_count = 0 %}
{% set max_def_count = 0 %}

{% if not compact|default(value=true) %}
	{% set max_def_count = 2 %}
{% else %}
	{% for line in body | split(pat="\n") %}
		{% if line is starting_with(":")%}
			{% set_global current_def_count = current_def_count + 1 %}
			{% if max_def_count < current_def_count %}{#>#}
				{% set_global max_def_count = current_def_count %}
			{% endif %}
		{% elif not line is matching("^[ \t]*$")%}
			{% set_global current_def_count = 0 %}
		{% endif %}
	{% endfor %}
{% endif %}

<dl class="{% if max_def_count == 1 %}max-one-dd{% endif %}">
{% for line in body | split(pat="\n") %}
	{% if line is starting_with(":") %}
		<dd>
		{{ line | trim_start_matches(pat=":") | trim_start_matches(pat=" ") | markdown(inline=true) | safe }}
		</dd>
	{% elif not line is matching("^[ \t]*$") %}
		<dt>
		{{ line | markdown(inline=true) | safe }}
		</dt>
	{% endif %}
{% endfor %}
</dl>
