<figure>
	{% if caption %}<figcaption>{{ caption | safe }}</figcaption>{% endif %}
	{{ body | markdown | safe }}
	{% if caption_after %}<figcaption>{{ caption_after | safe }}</figcaption>{% endif %}
</figure>
