{% if path is matching("^\./") %}
	{% set path="content/" ~ page.colocated_path ~ path %}
{% endif %}
{% set image = load_data(path=path) |
	replace(from=" width=", to=" original-width=") |
	replace(from=" height=", to=" original-height=")
%}
{% if labels_are_incomplete_or_broken %}
	{% set image = image | replace(from=" aria-label=", to=" removed-label=")%}
{% endif %}
{% if caption or caption_after %}
<figure>
{% endif %}
{% if caption %}
	<figcaption>{{caption}}</figcaption>
{% endif %}
{{ image | safe}}
{% if caption_after %}
	<figcaption>{{caption_after}}</figcaption>
{% endif %}
{% if caption or caption_after %}
</figure>
{% endif %}

