<p class="button-paragraph">
	<a {% if icon %}class="decoration-{{ icon }}" {% endif %}href="{% if href is starting_with("@") %}{{ get_url(path=href) | safe }}{% else %}{{ href }}{% endif %}" {% if download %} download{% endif %}>
		{% if body %}{{ body | markdown(inline=true) | safe }}{% else %}{{ txt | default(value=href) | safe }}{% endif %}
	</a>
</p>
