{% if icon %}
	{% set li = '<li><a class="decoration-' ~ icon ~ '" ' %}
{% else %}
	{% set li = "<li><a " %}
{% endif %}
{{ body | markdown | replace(from="<ul>",to='<ul class="link-list">') | replace(from="<li><a ", to=li ) | safe }}
