{% set basename = src | split(pat="/") | last | split(pat=".") | first %}
<a href="{{src}}">
<picture class="content-block">
{% if page.assets %}
{% for asset in page.assets %}
	{% if asset | split(pat=".") | last in ["png","jpg","jpeg","webp","svg"] %}
		{% set asset_filename = asset | split(pat="/") | last %}
		{% set asset_basename = asset_filename | split(pat=".") | first %}
		{% if asset_basename is starting_with(basename~"-") %}
			{% if asset_basename == basename ~ "-light"%}
	<source srcset="./{{asset_filename}}" media="(prefers-color-scheme: light)">
			{% endif %}
			{% if asset_basename == basename ~ "-dark" %}
	<source srcset="./{{asset_filename}}" media="(prefers-color-scheme: dark)">
			{% endif %}
		{% endif %}
	{% endif %}
{% endfor %}
{% endif %}
	<img src="{{src}}" alt="{{alt}}"/>
</picture>
</a>
