{% set pindata = load_data(path=path) %}
<table>
	<tr>
		<th>Pin</th>
		<th>Name</th>
		<th>Ardu&shy;ino Pin</th>
		<th>PWM</th>
		<th>PC&shy;INT</th>
		<th>Bus</th>
		<th>Extra</th>
	</tr>
{% for pin in pindata.pin %}
	<tr>
		<td>{{pin.pin}}</td>
		<td>{{pin.name}}</td>
		<td>{{pin.arduino | default(value="")}}</td>
		<td>{{pin.pwm | default(value="")}}</td>
		<td>{{pin.pcint | default(value="")}}</td>
		<td>{{pin.bus | default(value="")}}</td>
		<td>{{pin.extra | default(value="")}}</td>
	</tr>
{% endfor %}
</table>
