<section class="webring-widget">
	{% set headline_tag = headline_tag | default(value="p") %}
	<{{ headline_tag }} id="{{ name | slugify }}">{{ name }}</{{ headline_tag }}>
	{% if description %}{{ description | markdown | safe }}{% endif %}
	<ul class="link-list row fill">
		<li><a class="decoration-action-previous" href="{{ previous_uri | escape_xml | safe }}">Previous</a></li>
		{% if random_uri %}
		<li><a class="decoration-action-shuffle" href="{{ random_uri | escape_xml | safe }}">Random</a></li>
		{% endif %}
		{% if search_uri %}
		<li><a class="decoration-action-search" href="{{ search_uri | escape_xml | safe }}">Search</a></li>
		{% endif %}
		<li><a class="decoration-action-next" href="{{ next_uri | escape_xml | safe }}">Next</a></li>
	</ul>
	{% if about_uri %}<p class="button-paragraph"><a href="{{ about_uri }}">{% if about_link_text %}{{about_link_text}}{% else %}What is {{ name }}?{% endif %}</a></p>{% endif%}
</section>
