.banner-style-train--station-sign {
	background-color: #252f5a;
	color: #e5e7f3;
	box-shadow: var(--shadow-section);
	text-align: left;
	font-weight: 520;
	font-family: Liberation Sans, Arial, sans;
}
