{% extends "base.html" %}
{% import "helpers.html" as helper %}

{% block content %}

{% set section = get_section(path="notebook/_index.md") %}
{{ section.content | safe }}

{% for term in terms | reverse %}
	<section class="h-feed" id="{{term.name | slugify}}">
		<h2 class="p-name">{{ term.name }}</h2>
		{% for page in term.pages | sort(attribute="title")%}
			{% if page.ancestors | last == "notebook/_index.md" %}
				{{ helper::smart_page_preview(page=page, show_section=false) }}
			{% else %}
				{{ helper::smart_page_preview(page=page) }}
			{% endif %}
		{% endfor %}
	</section>
{% endfor %}
	
{% endblock %}


