:root {
	--section-image-gallery-item-height: 12rem;
	--section-image-gallery-item-margin: .1rem;
	--section-image-gallery-item-border-radius: var(--section-border-radius);
	--section-image-gallery-justify-content: start;
}

/* Styling for small screens */
@media (max-width: 140ch) {
	:root {
		--section-image-gallery-item-width: 32%;
		--section-image-gallery-item-height: unset;
		--section-image-gallery-justify-content: center;
	}
}

@media (max-width: 90ch) {
	:root {
		--section-image-gallery-item-width: 48%;
	}
}

/** Always hide picture overflow **/
picture {
	overflow: hidden;
	break-inside: avoid;
}

/** Fix images inside picture elements **/
picture > img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

/*Gallery Styling*/

figure.image-gallery > ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style-type: none;
	padding: .5rem 0;
	margin: 0;
	justify-content: var(--section-image-gallery-justify-content);
	break-before: always;
	break-after: always;
}

figure.image-gallery > ul > li {
	display: block;
	margin: var(--section-image-gallery-item-margin);
	border-radius: var(--section-image-gallery-item-border-radius);
	width: var(--section-image-gallery-item-width);
}

figure.image-gallery > ul picture{
	height: var(--section-image-gallery-item-height);
}

section > figure picture {
	display: block;
	max-width: var(--section-media-width);
	border-radius: var(--section-border-radius-figure-content);
}
