:root {
	/*Define colors that will be used*/
	--c-page-bg: #111;
	--c-dark-slate: #181818;
	--c-medium-slate: #222;
	--c-transparent-slate: #0008;
	--c-accent-slate: #111;
	--c-light-accent-slate: #333;
	
	--c-bright-text: #fff;
	--c-normal-text: #ccc;
	--c-dark-text: #aaa;
	--c-very-dark-text: #888;
	
	--c-accent-dark: #ce5c00;
	--c-accent-light: #859900;
	--c-accent-secondary: #997a2e;
	--c-accent-secondary-dark: #98971aa0;

	--c-hr: #333;

	--c-card-note: #555;
	--c-card-warning: #d79921;
	--c-card-warning-bg: #d7992110;

	--shadow-button: 0 0 .3em .3em #0003;
	--shadow-button-hover: 0 0 .4em .4em #0004;
	--shadow-card-warning: 0 0 .5em #0005;
	--shadow-section: 0 0 0 .2rem var(--c-dark-slate);
	--section-shadow-width: .2rem;
	
	--heading-bg-image: url("/assets/site_slatecave/dragon.svg");

	--icon-filter: brightness(.7);

	/*NOTE: DO NOT USE THE COLORS ABOVE OUTSIDE OF THE COLOR DEFINITIONS BELOW!!*/
}

@media (prefers-color-scheme: light) {
	:root {
		/*Define colors that will be used*/
		--c-page-bg: #aaa;
		--c-dark-slate: #ccc;
		--c-medium-slate: #d8d8d8;
		--c-transparent-slate: #fff5;
		--c-accent-slate: #eee;
		--c-light-accent-slate: #bbb;

		--shadow-button: 0 0 .4rem .1rem #4448;
		--shadow-button-hover: 0 0 .3em .3em #0003;

		--c-bright-text: #000;
		--c-normal-text: #080808;
		--c-dark-text: #111;
		--c-very-dark-text: #222;
		
		--c-accent-light: #094e02;
		--c-accent-dark: #8F350F;
		--c-accent-secondary: #742B19;
		--c-accent-secondary-dark: #79740e;

		--c-hr: #bbb;
		
		--icon-filter: brightness(.2);
	}

}

@media print {
	:root {
		/*Define colors that will be used*/
		--c-page-bg: #fff;
		--c-dark-slate: #fff;
		--c-medium-slate: #fff;
		--c-accent-slate: #ccc;
		
		--c-bright-text: #000;
		--c-normal-text: #111;
		--c-dark-text: #444;
		
		--c-accent-dark: #ce5c00;
		--c-accent-light: #9c4500;
		--c-accent-secondary: #2D5903;
		
		--heading-bg-image: none;

		--shadow-button: unset;
		--shadow-button-hover: unset;
		--shadow-card-warning: unset;

		--icon-filter: brightness(0);
		/*NOTE: DO NOT USE THE COLORS ABOVE OUTSIDE OF THE COLOR DEFINITIONS BELOW!!*/
	}
}

:root {
	/*Assign those colors a purpose*/
	--page-bg: var(--c-page-bg);
	--page-fg: var(--c-normal-text);
	--page-link: var(--c-accent-light);
	--page-link-visited: var(--c-accent-secondary);
	--page-focus-outline: .2rem solid var(--c-accent-light);
	--page-focus-outline-offset: 2px;
	--page-font: 1em Noto Sans, sans-serif;
	--page-monospace-font: 1em Noto Sans Mono, monospace;
	--page-pad: 0;
	--page-max-width: 120ch;

	--section-mg: 1.05rem;
	--section-pad: 1rem;
	--section-pad--reverse: -1rem;
	--section-bg: var(--c-medium-slate);
	--section-fg-section-title: var(--c-accent-dark);
	--section-fg-title: var(--c-bright-text);
	--section-preview-border: var(--c-transparent-slate) .2rem solid;

	/*Special sections*/
	
	--section--footer-fg: var(--c-dark-text);
	--section--footer-mg: 0;

	/* Section minus the space taken by the shadow borders */
	--heading-mg: calc(var(--section-mg) - var(--section-shadow-width));
	--heading-font: 2rem Noto Sans Mono, serif;
	
	--section-bg-pre: var(--dark-slate);
	--section-font-pre: 1rem Noto Sans Mono, sans-serif;
	--section-mg-pre: .5em 0;
	
	--section-bg-figure: var(--c-dark-slate);
	--section-pad-figure: .5rem var(--section-pad);
	--section-mg-figure: 0.5em var(--section-pad--reverse); /*reverse section padding and give multiple figures some space to breathe*/
	--section-mg-figure-caption: 0.2em 0;
	--section-pad-figure-caption: .2em 1ch;
	--section-bg-figure-caption: var(--c-accent-slate);
	--section-fg-figure-caption: var(--c-light-text);
	
	--section-media-width: 90ch;

	--section--banner-mg: var(--section-mg);
	
	--big-banner-font: clamp(2rem, 4vw, 4rem) sans-serif;
	--big-banner-bg-color: var(--c-accent-slate);
	--big-banner-color: var(--c-bright-text);
	--big-banner-pad: 1rem 1ch;
	
	--article-nav-mg: var(--section-mg, main);

	--button-bg: var(--c-dark-slate);
	--button-fg: var(--c-dark-text);
	--button-pad: .2rem 1ch;
	--button-mg: .2rem;
	--button-border: var(--c-light-accent-slate) .2rem solid;
	--button-border-hover: var(--c-accent-secondary-dark) .2rem solid;
	
	--button-list-flex-direction: row;

	--preview-mg-title: .25em 0;
	--preview-fg-description: var(--c-dark-text);
	--preview-mg-description: .25em 0;
	--preview-fg-metadata: var(--c-very-dark-text);

	--fg-metadata: var(--c-very-dark-text);
	--mg-metadata: var(--heading-mg);
	--pad-metadata: none;
	
	--code-bg: var(--c-dark-slate);
	--code-fg: var(--c-dark-text);
	--code-radius: .2em;
	--code-pad: 0 .3ch;
}

/* Styling for small screens */
@media (max-width: 120ch) {
	:root {
		--section--banner-mg: 0;

		--section-pad-figure: .2em 0;
		--section-mg-figure-caption: .2em 1ch;

		--section-pad-pre: 0 1vw;

		--big-banner-side-border: 0em;
	}

}

@media (max-width: 90ch) {
	:root {
		--section-mg: .5rem;
		--section-pad: .5rem;
		--heading-mg: var(--section-mg);
		
		--section-mg-table: 0 var(--section-pad--reverse);
		--table-width: calc(100% + 2rem);
		--button-list-flex-direction: column;

		--section-mg-figure-caption: .2em .75ch;
	}

	code, pre {
		word-break: break-word;
	}

	a > small { display: block; }

	table {
		width: 100%;
		box-sizing: border-box;
	}
}

/*More compact view on mobile*/
@media (max-width: 60ch) {
	:root {
		--section-mg: .75rem 0;
		--section-pad--reverse: -.5rem;
		--heading-pad: 0 .5ch;
		--table-width: 100vw;
		--chat-pad: 0;
		--pad-metadata: 0 .5rem;
	}

	ul, ol {
		padding-left: 2ch;
	}

	dd {
		margin-left: 2ch;
	}

	dt {
		margin-top: .5em;
	}

	blockquote {
		margin-right: 0;
	}

	/*Nothing is holy at this point, just wrap it*/
	* {
		overflow-wrap: break-word;
	}
}

@media (min-width: 90ch){
	section > figure:last-child {
		margin-bottom: -1rem;
	}
}

@media print {
	:root {
		--page-link: var(--c-dark-text);
		--page-link-visited: var(--c-dark-text);
		
		--section-fg-title: var(--c-bright-text);
		--section-fg-section-title: var(--c-bright-text);
		--section-section-title-underline: 2px solid var(--c-bright-text);
		--heading-underline: 2px solid var(--c-bright-text);
		
		--big-banner-font: 3rem Noto Sans Mono, bold, sans-serif;
	}

	/*No global navigation needed when printing on non Interactive media, just a waste of space and ink*/
	body > header, article > nav, body > footer > *:not(.page-info) {
		display: none;
	}

	footer {
		padding-top: 0 !important;
	}
	
}

/*General Customizations*/

dt, dd, p, li, table {
	line-height: 1.45;
}

dd:not(:last-child), li:not(:last-child) {
	margin-bottom: .3rem;
}

kbd:not(samp kbd) {
	border: .1em solid;
	box-shadow: .1ch .1ch .1em #555;
	border-color: var(--c-very-dark-text);
	border-radius: calc(var(--code-radius)*1.5);
	min-width: 2ch;
	display: inline-block;
	text-align: center;
}

samp kbd {
	font-weight: bold;
	font-style: italic;
}

code, samp, kbd {
	font: var(--page-monospace-font);
	padding: var(--code-pad);
}

code, samp {
	background: var(--code-bg);
	color: var(--code-fg);
	border-radius: var(--code-radius);
}

article, main {
	text-rendering: optimizeLegibility;
}

blockquote {
	margin-left: 1ch;
	padding-left: 1ch;
	border-left: .2rem var(--c-very-dark-text) dotted;
}

/**Fix headings inside of summary tags**/
summary > h2, summary > h3 {
	display: inline;
}

*:focus {
	outline: var(--page-focus-outline);
	outline-offset: var(--page-focus-outline-offset);
}

nav, body {
	margin: 0;
	padding: 0;
}

p.metadata, article > details {
	color: var(--fg-metadata);
	background: var(--bg-metadata);
	padding: var(--pad-metadata);
	margin: var(--mg-metadata);
}

article > details > summary {
	margin: 0;
}

/*Skiplinks for Screenreaders and keyboard users*/
a.skiplink {
	opacity: 0;
	font-size: 0em;
	position: absolute;
}

a.skiplink:focus {
	opacity: 1;
	font-size: 1em;
	font-weight: bold;
	color: var(--c-bright-text);
	text-decoration: none;
}

/*Style links that are supposed to look a bit like buttons*/
ul.link-list {
	padding: 0;
	/*Only needed becuase the above has this flex construct to keep the styling uniform without duplicate code*/
	display: flex;
	flex-direction: column;
	justify-content: start;
}

ul.link-list > li,
p.button-paragraph,
.preview,
button, input, select {
	display: block;
	margin: var(--button-mg);
	color: var(--button-fg);
}

ul.link-list > li > a,
p.button-paragraph > a,
section > .preview,
a.skiplink,
button {
	display: block;
	padding: var(--button-pad);
}

summary {
	padding: var(--button-pad);
	margin: var(--button-mg);
	color: var(--button-fg);
}


ul.link-list > li > a,
p.button-paragraph > a,
button, select, summary {
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
}

ul.link-list > li > a,
p.button-paragraph > a,
button, input, select,
a.webbadge, summary {
	background: var(--button-bg);
	transition: border-color .3s, box-shadow .3s, background .5s;
	box-shadow: var(--shadow-button);
	border: var(--button-border);
}

pre + p.button-paragraph {
	margin-top: 1em;
}

form > label {
	display: block;
}

input[type="text"], input[type="search"] {
    box-shadow: var(--shadow-button), inset 0 0 .8ch #0008;
}

span button, span input, span select {
	display: inline-block;
	height: 100%;
}

ul.link-list > li > a:hover, ul.link-list > li > a:focus,
p.button-paragraph > a:hover, p.button-paragraph > a:focus,
input[type="submit"]:hover,
button:hover, button:focus, select:hover, select:focus, input:focus,
a.webbadge:hover, a.webbadge:focus, summary:hover, summary:focus {
	box-shadow: var(--shadow-button-hover);
	border: var(--button-border-hover);
}

footer > ul.link-list, section > ul.link-list, main > section, main > form, article > form, main > p {
	padding: 0;
	margin: 0;
}

ul.link-list.row {
	flex-direction: var(--button-list-flex-direction);
}

ul.link-list.row > li {
	display: inline-block;
}

ul.link-list.fill > li {
	flex-grow: 1;
}

ul.link-list.fill {
	justify-content: space-between;
}

/*Even more preview styling*/

.preview {
	background: var(--button-bg);
	border: var(--section-preview-border);
}

.preview > :first-child {
	display: block;
	margin: var(--preview-mg-title);
	font-weight: bold;
}

.preview > p.p-summary {
	color: var(--preview-fg-description);
	background: var(--preview-bg-description);
	margin: var(--preview-mg-description);
}

.preview > p.metadata {
	color: var(--preview-fg-metadata);
	background: var(--preview-bg-metadata);
	margin: var(--preview-mg-metadata);
}

.preview :first-child a:not(:hover) {
	text-decoration-thickness: 0;
}

.preview a:not(:hover), dd > a:not(:hover) {
	text-decoration-thickness: .1em;
	text-decoration-color: var(--c-transparent-slate);
}

/*General page styling*/

body {
	background: var(--page-bg);
	color: var(--page-fg);
	font: var(--page-font);
	padding: var(--page-pad);
	margin: auto;
	max-width: var(--page-max-width);
	tab-size: 4;
}

hr {
	border: none;
	border-top: .22rem solid var(--c-hr);
}

a {
	color: var(--page-link);
	transition: text-decoration-thickness .1s;
	text-decoration: underline;
	text-decoration-thickness: .05em;
}

a:hover {
	text-decoration: underline;
    text-decoration-thickness: .2rem;
}

a:visited {
	color: var(--page-link-visited);
}

h1, a.sitename {
	margin: var(--heading-mg);
	padding: var(--heading-pad);
	background: var(--heading-bg);
	color: var(--heading-fg);
	border-bottom: var(--heading-underline);
	font: var(--heading-font)

}

h1 > a, h2 > a, h3 > a, a.sitename {
	text-decoration: none;
}

/* Style definition lists */

@media (min-width: 60ch) {
	dl.max-one-dd > dt {
		float: left;
	}

	dl.max-one-dd > dd {
		margin-left: 12ch;
	}
}

dt {
	font-weight: bold;
}

dt::after {
	content: ":";
	margin-right: 1ch; /*Acts like a space following the colon*/
}

/*General section styling*/

article > section, header > section, section > textarea, main > section, main > form, article > form, main > nav {
	margin: var(--section-mg);
	padding: var(--section-pad);
	padding-top: .3rem; /* Fixed at of less padding for title*/
	background: var(--section-bg);
	color: var(--section-fg);
	box-shadow: var(--shadow-section);
}

section > textarea {
	width: calc(100% - 2*var(--section-pad) - 2*var(--section-mg));
	border: none;
	resize: none;
	max-height: 50em;
	box-shadow: inset #000 0 0 .5em;
}

article > p, main > p {
	margin: var(--section-mg);
	padding: var(--section-pad);
}

/*Remove uneccessary bottom margin for last element, section padding will do*/
section > *:last-child {
	margin-bottom: 0;
}

/* General section header styling*/
section > h2 {
	color: var(--section-fg-section-title);
	border-bottom: var(--section-section-title-underline);
	margin: .3rem 0 1rem 0;
}

section > h4, section > h5 {
	color: var(--section-fg-title);
	border-bottom: var(--section-title-underline);
}

section:not(.preview) > h3 {
	font-weight: 500;
	font-size: 1.5rem;
	border-bottom: .2rem solid var(--c-hr);
}

/*General section preformatted block styling*/
section > pre > code, section > pre > samp, section > figure > pre, section > figure > samp {
	display: block;
	margin: var(--section-mg-pre);
	padding: var(--section-pad-pre);
	background: var(--section-bg-pre);
	color: var(--section-fg-pre);
	overflow: auto;
	scrollbar-color: var(--section-fg-pre, var(--page-fg)) var(--section-bg-pre);
	break-inside: avoid;
}

/*Fix codeblocks in figures*/
pre > code, pre > samp {
	display: block;
	padding: 0;
	margin: 0;
	background: unset;
}

/*General section figure styling*/

section > figure, section > pre {
	margin: var(--section-mg-figure);
	padding: var(--section-pad-figure);
	background: var(--section-bg-figure);
	color: var(--section-fg-figure);
}

section > figure {
	display: flex;
	flex-direction: column;
}

section > figure > div.table-wrapper {
	margin: var(--section-mg-figure-caption);
	width: auto;
}

section > figure > figcaption {
	margin: var(--section-mg-figure-caption);
	padding: var(--section-pad-figure-caption);
	background: var(--section-bg-figure-caption);
	color: var(--section-fg-figure-caption);
}


/*Banner styling*/
/*Don't make assumptions about what the banner will be*/

.banner {
	background: unset;
	text-align: center;
	padding: var(--big-banner-pad);
	margin: var(--section--banner-mg);
	background-color: var(--big-banner-bg-color);
	font: var(--big-banner-font);
	color: var(--big-banner-color);
	box-shadow: inset 0 0 1rem .5rem #000c, var(--shadow-section);
}

.banner > a {
	text-decoration: none;
	color: var(--page-color);
}

.banner:empty {
	min-height: 1.4em;
}

/* article navigation */

article > nav, main > nav {
	margin: var(--article-nav-mg);
	padding: var(--article-nav-pad);
	background: var(--article-nav-bg);
	color: var(--article-nav-fg);
}

article > nav.alternatives > ul {
	display: inline;
	padding: 0;
}

/*Header Styling*/

header > nav > * {
	display: block;
	margin: var(--heading-mg);
	padding: var(--heading-pad);
}

header > nav {
	background-image: var(--heading-bg-image);
	background-position: top right;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	--button-bg: var(--c-transparent-slate); /* mod */
}

/*Provide a small, currently barely visible hint that you are in a given section*/
a[aria-current="true"], a[aria-current="page"] {
	--button-border: var(--c-transparent-slate) solid .2em ;
	--shadow-button: none;
}

/*Footer Styling*/

footer {
	border: var(--section--footer-border);
	margin: var(--section--footer-mg, var(--section-mg));
	padding: var(--section--footer-pad, var(--section-pad));
	background: var(--section--footer-bg);
	color: var(--section--footer-fg, inherit);
}

footer > section {
	padding: var(--section-pad);
	padding-top: .3rem; /* Fixed at of less padding for title*/
	background: var(--section-bg);
	color: var(--section-fg);
	box-shadow: var(--shadow-section);
	margin: 0 var(--section-shadow-width);
}

footer h2, footer h3 {
	margin: .4em 0;
}

/* Special sections - currently none */

/* Fix webring widget */

section.webring-widget > p:not(.button-paragraph) {
	margin: .5em 0;
}

/* Decorate buttons with icons */

.decoration-action-next:before {
	--icon: url("/assets/site_slatecave/icons/forward-arrow.svg");
}

.decoration-action-shuffle:before {
	--icon: url("/assets/site_slatecave/icons/shuffle.svg");
}

.decoration-action-previous:before {
	--icon: url("/assets/site_slatecave/icons/backward-arrow.svg");
}

.decoration-action-search:before {
	--icon: url("/assets/site_slatecave/icons/search.svg");
}

.decoration-action-download:before {
	--icon: url("/assets/site_slatecave/icons/download.svg");
}

.decoration-destination-listing:before {
	--icon: url("/assets/site_slatecave/icons/folder.svg");
}

.decoration-destination-text:before {
	--icon: url("/assets/site_slatecave/icons/file-text.svg");
}

.decoration-destination-code:before {
	--icon: url("/assets/site_slatecave/icons/code.svg");
}

.decoration-destination-contact:before {
	--icon: url("/assets/site_slatecave/icons/chat.svg");
}

.decoration-destination-feed:before {
	--icon: url("/assets/site_slatecave/icons/rss.svg");
}

.decoration-data-update:before {
	--icon: url("/assets/site_slatecave/icons/update.svg");
}

[class*="decoration-"]:before {
	background-position: left center;
	padding-left: 2.3ch;
	background-repeat: no-repeat;
	background-size: 1.1em;
	background-image: var(--icon);	
	content: "";
	filter: var(--icon-filter);
}

/* General image styling */

section > a {
	display: block;
}

picture.content-block > img, figure > svg {
	display: block;
	margin: auto;
	max-height: min(25em, 90vh);
	width: 100%;
	object-fit: contain;
}

/* General table styling */

div.table-wrapper {
	width: var(--table-width);
	margin: var(--section-mg-table);
	padding: 0;
	overflow: auto;
}

table {
	border-collapse: collapse;
	color: var(--code-fg);
	margin: 0;
}

th, td {
	text-align: left;
	padding: .05em 1.5ch .05em .5ch;
	border: .15rem solid var(--c-medium-slate);
}

tr {
	background: var(--code-bg);
}

tr:hover, th, .table-subheading {
	background-color: var(--c-accent-slate);
}

/* Search form styling */

form.search > input {
  font-size: 1.2em;
  font-weight: bold;
}

form.search > input[type="search"] {
  background: unset;
  border: unset;
  box-shadow: unset;
  flex-grow: 1;
  padding-left: .5ch;
}

form.search > input[type="submit"] {
  padding-left: 0.5ch;
  padding-right: 0.5ch;
}

form.search {
  display: flex;
  flex-direction: var(--button-list-flex-direction);
  box-shadow: var(--shadow-button);
  border: var(--button-border);
  background: var(--button-bg);
}

/* Syntax highlighting */

.z-keyword, .z-type, .z-modifier, .z-expansion {
	font-weight: bold;
}

.z-comment {
	font-style: italic;
	color: var(--c-dark-text);
}

.z-string.z-quoted, .z-string.z-unquoted.z-heredoc.z-shell{
	color: var(--c-accent-secondary);
}

.z-constant {
	color: var(--c-accent-dark);
}

/* card paragraphs */

.warning, .disclaimer {
	background: var(--c-card-warning-bg);
	border-left: .5ch solid;
	border-left-color: var(--c-card-warning);
	box-shadow: var(--shadow-card-warning);
}

.note {
	border-left: .5ch solid #555;
}

p.card {
	padding: .2em .5ch;
	border-radius: .2ch;
}


p.card > b:first-child {
	display: block;
	margin-bottom: .3em;
}

p.warning > b:first-child::before {
	content: "⚠️ ";
	text-shadow: 0 0 .2em #333;
}

/* Chat messages */

.chat-box {
	min-height: 7ch;
	display: grid;
	grid-template-columns: [avatar]8ch [message]1fr var(--chat-pad, 4ch);
	grid-auto-rows: auto;
	margin: 1em 0;
}

.chat-avatar {
  width: 7ch;
  height: 7ch;
  grid-column: avatar;
}

.chat-box > :not(.chat-avatar) {
	grid-column: message;
	margin-top: 0;
	margin-right: auto;
	margin-left: var(--chat-pad, 1ch);
	margin-bottom: 0.5em;
}

.chat-box > blockquote {
	padding: .5em 1ch;
	background: var(--section-bg-figure-caption);
	color: var(--section-fg-figure-caption);
	position: relative;
}

.chat-box > .chat-avatar + blockquote::before {
	content: " ";
	background: var(--section-bg-figure-caption);
	width: 1em;
	height: 1em;
	display: block;
	position: absolute;
	top: min(3.5ch, 50%);
	left: 0;
	transform: translate(-50%,-50%) rotate(45deg);
	mask-image: linear-gradient(45deg, #000 52% ,transparent 520px%);
}

.chat-box > blockquote:first-of-type {
	margin-top: auto;
}

.chat-box > blockquote:last-child {
	margin-bottom: auto;
}

.chat-box > blockquote > :first-child {
  margin-top: 0;
}

.chat-box > blockquote > :last-child {
  margin-bottom: 0;
}

.rounded-rectangle, .chat-box > * {
  border-radius: .3em;
  border: none;
}

/* web badges*/

.webbadge-img {
  height: 2.2em;
  display: inline-block;
}

a.webbadge {
  display: inline-block;
  padding: 0;
  margin: var(--button-mg);
}

a.webbadge > .webbadge-img {
	display: block;
}
