:root {
	/*Define colors that will be used*/
	--c-page-bg: #000;
	--c-dark-slate: #181818;
	--c-medium-slate: #222;
	--c-accent-slate: #111;
	
	--c-bright-text: #fff;
	--c-normal-text: #ccc;
	--c-dark-text: #aaa;
	
	--c-accent-dark: #ce5c00;
	--c-accent-light: #859900;
	--c-accent-secondary: #997a2e;

	--c-warning-background: #220;

	--heading-bg-image: url("/assets/site_slatecave/dragon.svg");

	--icon-forward-arrow: url("/assets/site_slatecave/icons_dark/forward-arrow.svg");
	--icon-backward-arrow: url("/assets/site_slatecave/icons_dark/backward-arrow.svg");
	--icon-shuffle: url("/assets/site_slatecave/icons_dark/shuffle.svg");
	--icon-file-text: url("/assets/site_slatecave/icons_dark/file-text.svg");
	--icon-folder: url("/assets/site_slatecave/icons_dark/folder.svg");
	--icon-code: url("/assets/site_slatecave/icons_dark/code.svg");
	--icon-search: url("/assets/site_slatecave/icons_dark/search.svg");
	--icon-chat:url("/assets/site_slatecave/icons_dark/chat.svg");

	/*NOTE: DO NOT USE THE COLORS ABOVE OUTSIDE OF THE COLOR DEFINITIONS BELOW!!*/
}

@media (prefers-color-scheme: light) {
	:root {
		/*Define colors that will be used*/
		--c-page-bg: #bbb;
		--c-dark-slate: #ccc;
		--c-medium-slate: #d8d8d8;
		--c-accent-slate: #eee;
		
		--c-bright-text: #000;
		--c-normal-text: #080808;
		--c-dark-text: #111;
		
		--c-accent-light: #274d03;
		--c-accent-dark: #8F350F;
		--c-accent-secondary: #36402d;

		--c-warning-background: #fdc;
	}
}

@media (prefers-color-scheme: light), print {
	:root {

		--icon-forward-arrow: url("/assets/site_slatecave/icons_light/forward-arrow.svg");
		--icon-backward-arrow: url("/assets/site_slatecave/icons_light/backward-arrow.svg");
		--icon-shuffle: url("/assets/site_slatecave/icons_light/shuffle.svg");
		--icon-file-text: url("/assets/site_slatecave/icons_light/file-text.svg");
		--icon-folder: url("/assets/site_slatecave/icons_light/folder.svg");
		--icon-code: url("/assets/site_slatecave/icons_light/code.svg");
		--icon-search: url("/assets/site_slatecave/icons_light/search.svg");
		--icon-chat:url("/assets/site_slatecave/icons_light/chat.svg");

		/*NOTE: DO NOT USE THE COLORS ABOVE OUTSIDE OF THE COLOR DEFINITIONS BELOW!!*/
	}
}

@media print {
:root {
		/*Define colors that will be used*/
		--c-page-bg: #fff;
		--c-dark-slate: #fff;
		--c-medium-slate: #fff;
		--c-accent-slate: #ccc;
		
		--c-bright-text: #000;
		--c-normal-text: #111;
		--c-dark-text: #444;
		
		--c-accent-dark: #ce5c00;
		--c-accent-light: #9c4500;
		--c-accent-secondary: #2D5903;

		--c-warning-background: none;
		
		--heading-bg-image: none;

		/*NOTE: DO NOT USE THE COLORS ABOVE OUTSIDE OF THE COLOR DEFINITIONS BELOW!!*/
	}
}

:root {
	/*Assign those colors a purpose*/
	--page-bg: var(--c-page-bg);
	--page-fg: var(--c-normal-text);
	--page-link: var(--c-accent-light);
	--page-link-visited: var(--c-accent-secondary);
	--page-link-border-radius: .05rem;
	--page-focus-outline: .2rem solid var(--c-accent-light);
	--page-focus-outline-offset: .05rem;
	--page-font: 1em Noto Sans, sans-serif;
	--page-monospace-font: 1em Noto Sans Mono, monospace;
	--page-pad: 0;
	--page-max-width: 120ch;

	--section-border-radius: .2rem;
	--section-mg: .75rem;
	--section-pad: 1rem;
	--section-pad--reverse: -1rem;
	--section-bg: var(--c-medium-slate);
	--section-fg-section-title: var(--c-accent-dark);
	--section-fg-title: var(--c-bright-text);

	/*Special sections*/
	--section-bg-disclaimer: var(--c-warning-background);
	
	--section--footer-fg: var(--c-dark-text);
	--section--footer-mg: 0;
	
	--heading-mg: var(--section-mg);
	--heading-font: 2rem Noto Sans Mono, serif;
	
	--section-bg-pre: var(--dark-slate);
	--section-font-pre: 1rem Noto Sans Mono, sans-serif;
	--section-mg-pre: .5em 0;
	
	--section-bg-figure: var(--c-dark-slate);
	--section-pad-figure: .5rem var(--section-pad);
	--section-mg-figure: 0.5em -1rem; /*reverse section padding and give multiple figures some space to breathe*/
	--section-border-radius-figure-content: var(--section-border-radius);
	--section-mg-figure-caption: 0.2em 0;
	--section-pad-figure-caption: .2em 1ch;
	--section-bg-figure-caption: var(--c-accent-slate);
	--section-fg-figure-caption: var(--c-light-text);
	--section-radius-figure-caption: 0;
	
	--section-media-width: 90ch;

	--section--banner-mg: var(--section-mg);
	--section--banner-border-radius: var(--section-border-radius);
	
	--big-banner-font: 4rem sans-serif;
	--big-banner-bg-color: var(--c-accent-slate);
	--big-banner-color: var(--c-bright-text);
	--big-banner-pad: 1rem 1ch;
	
	--article-nav-mg: var(--section-mg);

	--button-bg: var(--c-dark-slate);
	--button-fg: var(--c-dark-text);
	--button-radius: .2rem;
	--button-pad: .2rem 1ch;
	--button-mg: .2rem;
	
	--button-list-flex-direction: row;

	--preview-mg-title: .25em 0;
	--preview-fg-description: var(--c-dark-text);
	--preview-mg-description: .25em 0;
	
	--code-bg: var(--c-dark-slate);
	--code-fg: var(--c-dark-text);
	--code-radius: .2em;
	--code-pad: 0 .3ch;
}

/* Styling for small screens */
@media (max-width: 120ch) {
	:root {
		--section--banner-mg: 0;
		--section--banner-border-radius: 0;

		--section-pad-figure: .2em 0;
		--section-border-radius-figure-content: 0;
		--section-mg-figure-caption: .2em 1ch;
		
		--section-pad-pre: 0 1vw;
		
		--big-banner-font: 3rem sans-serif;
	}
}

@media (max-width: 90ch) {
	:root {
		--section-mg: .5rem;
		--section-pad: .5rem;
		
		--big-banner-font: 2rem sans-serif;
		--button-list-flex-direction: column;

		--section-mg-figure-caption: .2em .75ch;
	}
}

@media (min-width: 90ch){
	section > figure:last-child {
		margin-bottom: -1rem;
		border-bottom-left-radius: var(--section-border-radius);
		border-bottom-right-radius: var(--section-border-radius);
	}
}

@media print {
	:root {
		--page-link: var(--c-dark-text);
		--page-link-visited: var(--c-dark-text);
		
		--section-fg-title: var(--c-bright-text);
		--section-fg-section-title: var(--c-bright-text);
		--section-section-title-underline: 2px solid var(--c-bright-text);
		--heading-underline: 2px solid var(--c-bright-text);
		
		--big-banner-font: 3rem Noto Sans Mono, bold, sans-serif;
	}
	
	/*No global navigation needed when printing on non Interactive media, just a waste of space and ink*/
	body > header, article > nav {
		display: none;
	}
	
}

/*General Customizations*/

dd > a {
	text-decoration: none;
	word-break: break-all;
	overflow-wrap: break-word;
}

kbd {
	font: var(--page-monospace-font);
	font-weight: bold;
}

code, samp {
	font: var(--page-monospace-font);
	background: var(--code-bg);
	color: var(--code-fg);
	border-radius: var(--code-radius);
	padding: var(--code-pad);
}

article {
	text-rendering: optimizeLegibility;
}

blockquote {
	border-left: .3ch solid;
	border-left-color: var(--c-dark-text);
	margin-left: .5ch;
	padding-left: 1ch;
}

/**Fix headings inside of summary tags**/
summary > h2, summary > h3 {
	display: inline;
}

*:focus {
	outline: var(--page-focus-outline);
	outline-offset: var(--page-focus-outline-offset);
}

nav, body {
	margin: 0;
	padding: 0;
}

/*Skiplinks for Screenreaders and keyboard users*/
a.skiplink {
	opacity: 0;
	font-size: 0em;
	margin: 0;
	padding: 0;
}

a.skiplink:focus {
	opacity: 1;
	font-size: 1em;
}

/*Style links that are supposed to look a bit like buttons*/
ul.link-list {
	padding: 0;
	/*Only needed becuase the above has this flex construct to keep the styling uniform without duplicate code*/
	display: flex;
	flex-direction: column;
	justify-content: start;
}

p.button-paragraph {
	display: block;
}

ul.link-list > li,
p.button-paragraph,
.preview,
a.skiplink {
	display: block;
	margin: var(--button-mg);
	color: var(--button-fg);
	background: var(--button-bg);
}

ul.link-list > li > a,
p.button-paragraph > a,
section > .preview,
a.skiplink {
	padding: var(--button-pad);
	display: block;
}


ul.link-list > li > a,
p.button-paragraph > a {
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
}

footer > ul.link-list, section > ul.link-list {
	padding: 0;
	margin: 0;
}

ul.link-list.row {
	flex-direction: var(--button-list-flex-direction);
}

ul.link-list.row > li {
	display: inline-block;
}

ul.link-list.fill > li {
	flex-grow: 1;
}

ul.link-list.fill {
	justify-content: space-between;
}

nav > ul.link-list > li {
	background: var(--c-transparent-slate);
}

/*Style links in lists*/
ul.link-list > li > a, p.button-paragraph > a {
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
}

/* Style link-buttons and lists of link-buttons */

ul.link-list {
	padding: 0;
	/*Only needed becuase the above has this flex construct to keep the styling uniform without duplicate code*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

ul.link-list.row {
	margin: 0;
	flex-direction: var(--button-list-flex-direction);
	justify-content: start;
}

ul.link-list.row.fill {
	justify-content: space-between;
}

p.button-paragraph {
	display: block;
}

ul.link-list > li, p.button-paragraph, .preview {
	margin: var(--button-mg);
	color: var(--button-fg);
	background: var(--button-bg);
	border-radius: var(--button-radius);
}

ul.link-list > li > a,  p.button-paragraph > a, .preview {
	padding: var(--button-pad);
	display: block;
}

.preview > h3 {
	display: block;
	/* No color set here because the title should inherit the link colors*/
	padding: var(--preview-pad-title);
	margin: var(--preview-mg-titlei);
	font-weight: bold;
}

.preview > p.p-summary {
	color: var(--preview-fg-description);
	background: var(--preview-bg-description);
	padding: var(--preview-pad-description);
	margin: var(--preview-mg-description);
	font-weight: normal;
}

/*General page styling*/

body {
	background: var(--page-bg);
	color: var(--page-fg);
	font: var(--page-font);
	padding: var(--page-pad);
	margin: auto;
	max-width: var(--page-max-width);
}

a {
	color: var(--page-link);
	border-radius: var(--page-link-border-radius);
}

a:visited {
	color: var(--page-link-visited);
}

h1, a.sitename {
	border-radius: var(--heading-border-radius);
	margin: var(--heading-mg);
	padding: var(--heading-pad);
	background: var(--heading-bg);
	color: var(--heading-fg);
	border-bottom: var(--heading-underline);
	font: var(--heading-font)
}

h1 > a, h2 > a, h3 > a, a.sitename {
	text-decoration: none;
}

/* Style definition lists */

@media (min-width: 60ch) {
	dt {
		float: left;
	}

	dd {
		margin-left: 12ch;
	}
}

dt {
	font-weight: bold;
}

dt::after {
	content: ":";
	margin-right: 1ch; /*Acts like a space following the colon*/
}

/*General section styling*/

article > section, footer > section, header > section, section > textarea {
	border-radius: var(--section-border-radius);
	margin: var(--section-mg);
	padding: var(--section-pad);
	padding-top: .3rem; /* Fixed at of less padding for title*/
	background: var(--section-bg);
	color: var(--section-fg);
}

section > textarea {
	width: calc(100% - 2*var(--section-pad) - 2*var(--section-mg));
	border: none;
	resize: none;
	max-height: 50em;
	box-shadow: inset #000 0 0 .5em;
}

article > p {
	margin: var(--section-mg);
	padding: var(--section-pad);
}

/*Remove uneccessary bottom margin for last element, section padding will do*/
section > *:last-child {
	margin-bottom: 0;
}

/* General section header styling*/
section > h2 {
	color: var(--section-fg-section-title);
	border-bottom: var(--section-section-title-underline);
	margin: .3rem 0;
}

section > h3, section > h4, section > h5 {
	color: var(--section-fg-title);
	border-bottom: var(--section-title-underline);
}

/*General section preformatted block styling*/
section > pre > code, section > pre > samp, section > figure > pre, section > figure > samp {
	display: block;
	border-radius: var(--section-border-radius-pre);
	margin: var(--section-mg-pre);
	padding: var(--section-pad-pre);
	background: var(--section-bg-pre);
	color: var(--section-fg-pre);
	overflow: auto;
	scrollbar-color: var(--section-fg-pre, var(--page-fg)) var(--section-bg-pre);
	break-inside: avoid;
}

/*General section figure styling*/

section > figure, section > pre {
	border-radius: var(--section-border-radius-figure);
	margin: var(--section-mg-figure);
	padding: var(--section-pad-figure);
	background: var(--section-bg-figure);
	color: var(--section-fg-figure);
}

section > figure > figcaption {
	margin: var(--section-mg-figure-caption);
	padding: var(--section-pad-figure-caption);
	border-radius: var(--section-radius-figure-caption);
	background: var(--section-bg-figure-caption);
	color: var(--section-fg-figure-caption);
}


/*Banner styling*/
/*Don't make assumptions about what the banner will be*/

.banner {
	background: unset;
	text-align: center;
	padding: var(--big-banner-pad);
	margin: var(--section--banner-mg);
	background-color: var(--big-banner-bg-color);
	font: var(--big-banner-font);
	color: var(--big-banner-color);
	border-radius: var(--section--banner-border-radius);
	overflow: hidden;
}

.banner > a {
	text-decoration: none;
	color: var(--page-color);
}

.banner:empty {
	min-height: 1.4em;
}

/* article navigation */

article > nav {
	border-radius: var(--article-nav-border-radius);
	margin: var(--article-nav-mg);
	padding: var(--article-nav-pad);
	background: var(--article-nav-bg);
	color: var(--article-nav-fg);
}

article > nav.alternatives > ul {
	display: inline;
	padding: 0;
}

/*Header Styling*/

header > nav > * {
	display: block;
	margin: var(--heading-mg);
	padding: var(--heading-pad);
}

header > nav {
	background-image: var(--heading-bg-image);
	background-position: top right;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
}

nav > ul > li {
	display: inline-block;
	font-size: 1.2rem;
	font-weight: bold;
	margin-right: 1ch;
}

nav > ul > li > a {
	text-decoration: none;
}

/*Provide a small, currently barely visible hint that you are in a given section*/
nav > ul > li > a.in-section {
	border-bottom: .2em solid;
	border-color: var(--button-bg);
}

/*Footer Styling*/

footer {
	border: var(--section--footer-border);
	border-radius: var(--section--footer-border-radius);
	margin: var(--section--footer-mg, var(--section-mg));
	padding: var(--section--footer-pad, var(--section-pad));
	background: var(--section--footer-bg);
	color: var(--section--footer-fg, inherit);
}

footer > hr {
	background-color: var(--section-bg);
	border: none;
	height: .11rem;
}

footer > section {
	margin: 0 auto;
}

footer h2, footer h3 {
	margin: .4em 0;
}

/* Special sections */

section.disclaimer {
	background-color: var(--section-bg-disclaimer);
}

/* Fix webring widget */

section.webring-widget > p:not(.button-paragraph) {
	margin: .5em 0;
}

/* Decorate buttons with icons */

.decoration-action-next:before {
	background-image: var(--icon-forward-arrow);
}

.decoration-action-shuffle:before {
	background-image: var(--icon-shuffle);
}

.decoration-action-previous:before {
	background-image: var(--icon-backward-arrow);
}

.decoration-action-search:before {
	background-image: var(--icon-search);
}

.decoration-destination-listing:before {
	background-image: var(--icon-folder);
}

.decoration-destination-text:before {
	background-image: var(--icon-file-text);
}

.decoration-destination-code:before {
	background-image: var(--icon-code);
}

.decoration-destination-contact:before {
	background-image: var(--icon-chat);
}


.decoration-action-next:before,
.decoration-action-shuffle:before,
.decoration-action-previous:before,
.decoration-action-search:before,
.decoration-destination-listing:before,
.decoration-destination-text:before,
.decoration-destination-code:before,
.decoration-destination-contact:before {
	background-position: left center;
	padding-left: 2.3ch;
	background-repeat: no-repeat;
	background-size: 1.1em;
	content: "";
}

/* General table styling */

th, td {
	text-align: left;
	padding-left: .5ch;
	padding-right: 2.5ch;
	border: .1em solid var(--c-accent-slate);
}

tr:hover {
	background-color: var(--c-accent-slate);
}

table.character-table {
	width: 70%;
	min-width: min(60ch, 100%);
}
