{% extends "taxonomy_list.html" %}

{% block human_metadata %}
<p class="card note"><b>Not your usual Language selector:</b> This one has programming, markup, query and data serialization languages.</p>
{% endblock %}
