/*Stylesheet for resistor ring color table*/
.color-row:not(:hover).black {
	background: black;
	color: white;
}

.color-row:not(:hover).brown {
	background: #420;
	color: white;
}

.color-row:not(:hover).red {
	background: #cc241d;
	color: white;
}

.color-row:not(:hover).orange {
	background: #fe8019;
	color: black;
}

.color-row:not(:hover).yellow {
	background: #fabd2f;
	color: black;
}

.color-row:not(:hover).green {
	background: green;
	color: white;
}

.color-row:not(:hover).blue {
	background: blue;
	color: white;
}

.color-row:not(:hover).violet {
	background: #d3869b;
	color: black;
}

.color-row:not(:hover).gray {
	background: #888;
	color: black;
}

.color-row:not(:hover).white {
	background: white;
	color: black;
}

.color-row:not(:hover).gold {
	background: gold;
	color: black;
}

.color-row:not(:hover).silver {
	background: silver;
	color: black;
}

