{% extends "base.html" %}

{% block meta_open_graph_type  %}article{% endblock meta_open_graph_type %}

{% block meta_extra_open_graph %}
{% if page.date -%}
	<meta property="article:published_time" content="{{ page.date }}">
{%- endif %}
{% if page.updated -%}
	<meta property="article:modified_time" content="{{ page.updated }}">
{%- endif %}
{% endblock meta_extra_open_graph %}

{% block table_of_contents %}
{% if page.toc and page.toc|length > 0 %}
{% set first_toc_entry = page.toc|first %}
{% if page.toc|length > 1 or first_toc_entry.children|length > 1 %}
<details class="table-of-contents">
	<summary>Table of Contents</summary>
	<ul>
	{% for h1 in page.toc %}
		<li>
			<a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
			{% if h1.children %}
			<ul>
				{% for h2 in h1.children %}
				<li><a href="{{ h2.permalink | safe }}">{{ h2.title }}</a></li>
				{% endfor %}
			</ul>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
</details>
{% endif %}
{% endif %}
{% endblock%}
