{% import "elements.html" as elements %}
{% import "helpers.html" as helpers %}
<!DOCTYPE html>
<html lang="en">


	{# Find out which banner is appropriate for this page #}
	{% set page_banner_identifier = "not_found" %}
	{% set path = "/unknown" %}
	{% set title = "Nowhere"%}
	{% set show_description = true%}
	{% if page %}
		{% set page_banner_identifier = page.extra.banner
		| default(value=page.path) %}
		{% set path = page.path %}
		{% set title = page.title %}
		{% if page.extra.hide_description %}{% set show_description = false %}{% endif %}
	{% elif section %}
		{% set page_banner_identifier = section.extra.banner
		| default(value=section.path) %}
		{% set path = section.path%}
		{% set title = section.title %}
		{% if section.extra.hide_description %}{% set show_description = false %}{% endif %}
	{% elif term %}
		{% set page_banner_identifier = term.path %}
		{% set path = term.path %}
		{% set title = taxonomy.name ~ " / " ~ term.name %}
	{% endif %}
	{% if taxonomy or term %}
		{% set page_banner_identifier = current_path %}
		{% set path = current_path %}
		{% set root_section = get_section(path="_index.md", metadata_only=true) %}
		{% if root_section.subsections is containing(taxonomy.name ~ "/_index.md") %}
			{% set section_title = get_section(path=taxonomy.name ~ "/_index.md", metadata_only=true) | get(key="title") | default(value="") %}
		{% endif %}
		{% set title = section_title | default(value=taxonomy.name | title) %}
		{% if term %}
			{% set title = title ~ " / " ~ term.name %}
		{% endif %}
	{% endif %}
	{% set page_banner_identifier = elements::banner_id(banner_id=page_banner_identifier) %}
	{# We need feed information a couple of times here #}
	{% if config.generate_feed %}
		{% if section.generate_feed or section.extra.show_feed_link %}
			{% if config.feed_filenames[0] is matching("rss") %}
				{% set feed_mimetype = "application/rss+xml" %}
				{% set feed_type = "rss" %}
			{% else %}
				{% set feed_mimetype = "application/atom+xml" %}
				{% set feed_type = "atom" %}
			{% endif %}
			{% set feed_uri = get_url(path=section.path ~ config.feed_filenames[0], trailing_slash=false) %}
		{% endif %}
	{% endif %}

	{% set preview_image = config.extra.preview_image | default(value="/assets/preview.png") %}
	{% set preview_image = section.extra.preview_image | default(value=preview_image) %}
	{% set preview_image = page.extra.preview_image | default(value=preview_image) %}
	
	{# Process colocated assets #}
	{% if page.assets or section.assets%}
		{% for asset in page.assets|default(value=section.assets) %}
			{% if asset is matching("/preview.png") %}
				{% set_global preview_image = asset %}
			{% endif %}
			{% if asset is matching("/tweaks.css") %}
				{% set_global tweaks_css = asset %}
			{% endif %}
		{% endfor %}
	{% endif %}
	
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1" name="viewport">
		{# Add a description if one is given #}
		{% if section.description or page.description %}
		<meta name="description" property="og:description" content="{{ section.description | default(value=page.description) | striptags | safe }}">
		{% endif %}
		{# Add feed link for autodiscovery if it exists #}
		{% if feed_uri %}
		<link rel="alternate" type="{{ feed_mimetype }}" title="{{ title | escape_xml }}" href="{{ feed_uri }}">
		{% endif%}
		<link href="{{ helpers::cachebusted(path="/assets/site_slatecave/slatecave_v3.css") }}" rel="stylesheet" type="text/css" title="Slatecave v3">
		<!--link href="/assets/site_slatecave/slatecave_v2.css" rel="alternate stylesheet" type="text/css" title="Slatecave v2 - round corners"-->
		<link href="/assets/site_slatecave/favicon.png" rel="icon" type="image/png">
		{# Include banner stylesheet when a baner is requested #}
		{% if page_banner_identifier %}
		{% set banner_theme_id_url_encoded = elements::banner_theme_id(banner_id=page_banner_identifier) | urlencode %}
		{% set banner_theme_css = "/assets/banner_" ~ banner_theme_id_url_encoded ~ "/banner.css" %}
		<link href="{{ helpers::cachebusted(path=banner_theme_css) }}" rel="stylesheet" type="text/css">
		{% endif %}
		{# Include tweaks.css stylesheet if provided #}
		{% if tweaks_css %}
		<link href="{{ helpers::cachebusted(path=tweaks_css) }}" rel="stylesheet" type="text/css">
		{% endif %}
		<title>{% block meta_title %}{{ title }}{% endblock %} | {{ config.title }}</title>
		<meta name="color-scheme" content="light dark">

		{% if page %}
		{% for author in page.authors -%}
			<meta name="author" content="{{ author }}">
		{%- else -%}
			{% if config.author %}
			<meta name="author" content="{{ config.author }}">
			{% endif %}
		{%- endfor %}
		{% endif %}

		{% block meta_open_graph %}
			<!-- Open Graph foo -->
			<meta property="og:title" content="{{ title | striptags }}">
			<meta property="og:type" content="{% block meta_open_graph_type %}website{% endblock %}">
			<meta property="og:url" content="{{ current_url }}">
			<meta property="og:image" content="{{ config.base_url }}{{ preview_image | urlencode }}">
			{% block meta_extra_open_graph %}{% endblock %}
		{% endblock %}

		<meta name="robots" content="index, noai, noimgai">
	</head>

	<body>
		<header>
			<nav>
				<a class="skiplink" href="#content">Skip Site Navigation</a>
				<a class="sitename" href="{{ config.base_url | safe }}">{{ config.title }}</a>
				<ul class="link-list row">
					{% for entry in config.extra.site_navigation %}
					{% set aria_current = "false" %}
					{% set link_url = entry.link_to %}
					{% set rel = ""%}
					{%if entry.link_to is matching("@/")%}
						{% set path_pattern = entry.link_to | trim_start_matches(pat="@") | trim_end_matches(pat="_index.md") %}
						{% if path == path_pattern %}
							{% set aria_current = "page" %}
							{% set rel = "category" %}
						{% elif path is matching(path_pattern) %}
							{% set aria_current = "true" %}
							{% set rel = "category" %}
						{% endif %}
						{% set link_url = get_url(path=entry.link_to, trailing_slash=true) %}
					{% endif %}
					<li><a href="{{ link_url | safe}}" aria-current="{{ aria_current }}" {% if rel %}rel="{{rel}}"{% endif %}>{{ entry.label }}</a></li>
					{% endfor %}
				</ul>
			</nav>
			{% block header_decoration %}
			{# by default add a banner #}
			{{elements::banner(banner_id=page_banner_identifier)}}
			{% endblock %}
		</header>
		<article id="content" {% block article_attributes %}{% if page %}class="h-entry"{% endif %}{% endblock %} >
			<h1 {% block first_headline_attributes %}{% if page %}class="p-name"{% endif %}{% endblock %} >{% block title %}{{ title }}{% endblock %}</h1>
			{% block human_metadata %}
				{%- if page -%}
					{{ helpers::page_metadata_line(page=page) }}
				{%- endif -%}
			{% endblock %}
			{% block content %}
			{# Hacky but effective way to wrap section tags around level two sections #}
			{% set page_sections = page.content
				| default(value=section.content)
				| replace(from="<p>!note: ", to='<p class="card note">')
				| replace(from="<p><b>Note", to='<p class="card note"><b>Note')
				| replace(from="<p>!warning: ", to='<p class="card warning">')
				| replace(from="<p><b>Warning", to='<p class="card warning"><b>Warning')
				| replace(from="<p><b>Disclaimer", to='<p class="card disclaimer"><b>Disclaimer')
				| replace(from='<table', to='<div class="table-wrapper"><table')
				| replace(from='</table>', to='</table></div>')
				| split(pat="<h2") %}{# > #}
			{{ page_sections | first | safe }}
			{# Add description to page if first block would otherwise be empty #}
			{% if not page_sections | first | trim and not page.extra.creation_status %}
				{# Add a description if one is given #}
				{% if show_description %}
					{% if section.description or page.description %}
					<p>{{ section.description | default(value=page.description) | safe }}</p>
					{% endif %}
				{% endif %}
			{% endif %}
			{% block table_of_contents %}{% endblock table_of_contents %}
			{% for page_section_content in page_sections %}
				{% if loop.first %}{% continue %}{% endif %}
				{% if page_section_content is containing("<!--H-CARD-SECTION-->")%} {% set section_class = "h-card" %}{% endif %}
				{% if page_section_content is containing("<!--LANGUAGE:de-->")%} {% set section_language = "de" %}{% endif %}
				<section{% if section_class %} class="{{ section_class }}"{%endif%}{% if section_language %} lang="{{ section_language}}"{% endif %}>
					<h2 {# > # insert the tag beginning we cut off when splitting#}
					{{ page_section_content | split(pat="</h2>") | first | safe -}}
					{%- if not loop.first%}</h2>{%endif%}

					{# If this is the first framed section inject some content #}
					{% if loop.index0 == 1 %}
						{{ elements::creation_status_widget(include_description=true) }}
					{% endif %}
				
					{{ page_section_content | split(pat="</h2>") | last | safe}}
				</section>
			{% endfor %}
			{% endblock %}
			{# So page Templates can insert their own content after the written content#}
			{% block after_content %}{% endblock%}
			{% if page.extra.final_image %}
				<picture class="content-block">
					<img src="{{page.extra.final_image}}" alt="{{page.extra.final_image_alt}}" />
				</picture>
			{% endif %}
		</article>
		<footer>
			{% block footer %}
			{{ load_data(path="meta/footer.md") | markdown | safe }}
			{% endblock %}
			{% if page.date or page.updated or feed_uri %}
			<hr>
			{% if page.date or page.updated %}
				<p class="page-info">This page was {% if page.date %}created at {{ page.date }}{% endif %}{% if page.updated %}{% if page.date%} and {% endif %} updated {{ page.updated }}{% endif %}.</p>
			{% endif %}
			{% if feed_uri %}<p><a class="decoration-destination-feed" href="{{ feed_uri }}">This page has an {{ feed_type }} feed.</a></p>{% endif %}
			{% endif %}
		</footer>
	</body>

</html>
