{% extends "base.html" %}
{% import "helpers.html" as helper %}

{# Set classes for microformats #}
{% block article_attributes %}class="h-feed"{% endblock %}
{% block first_headline_attributes %}class="p-name"{% endblock %}

{% block after_content %}

{% set year = "---" %}

{% for page in section.pages %}
	{% if year != page.date | date(format="%Y") %}
	{% set_global year = page.date | date(format="%Y") %}
	{% if not loop.first %}
	</section>
	{% endif %}
	<section>
		<h2>{{ year }}</h2>
	{% endif %}
		{{ helper::smart_page_preview(page=page, show_section=false) }}
	{% if loop.last %}
	</section>
	{% endif %}
{% endfor %}
	
{% endblock %}

