{% extends "base.html" %}
{% import "helpers.html" as helper %}

{% set largest_small_word_count = 150 %}

{% block after_content %}
<section class="h-feed">
	<h2 class="p-name">Projects I've written about here</h2>
	{% for page in section.pages %}
	{{ helper::preview(title=page.title, link=page.permalink, description=page.description, status=page.extra.creation_status) }}
	{% endfor %}
</section>
{% endblock %}

