{# This file is for elements specific for slatecave.net unlikely to be resused on other sites #}

{% macro creation_status_widget(custom_page="", include_description=false) %}
	{% set p = page | default(value="") %}
	{% if custom_page %} {% set p = custom_page %} {% endif %}
	{% if p.extra.creation_status %}
		<dl class="max-one-dd">
			<dt>Status</dt>
			<dd>{{ p.extra.creation_status }}</dd>
			{% if p.taxonomies["lang"] %}
			{# Might be replaced with taxonomies #}
			<dt>Language{{ p.taxonomies["lang"] | length | pluralize }}</dt>
			<dd>{% for l in p.taxonomies["lang"] %}{{loop.index | pluralize(plural=", ")}}<a href="{{get_taxonomy_url(kind="lang", name=l, lang=page.lang)}}">{{l}}</a>{% endfor %}</dd>
			{% endif %}
			{% if p.extra.sourcecode_uri %}
			<dt>Sourcecode</dt>
			<dd>{% if p.extra.sourcecode_uri %}<a href="{{ p.extra.sourcecode_uri }}">{%endif%}{{ p.extra.sourcecode_uri }}{% if p.extra.sourcecode_uri %}</a>{%endif%}</dd>
			{% endif %}
			{% if p.extra.fork_of%}
			<dt>Fork of</dt>
			<dd>{% if p.extra.fork_of_uri %}<a href="{{ p.extra.fork_of_uri }}">{%endif%}{{ p.extra.fork_of }}{% if p.extra.fork_of_uri %}</a>{%endif%}</dd>
			{% endif %}
			{% if p.date %}
			<dt>Started</dt>
			<dd>{{ p.date }}</dd>
			{% endif %}
		</dl>
		{% if include_description %}<p>{{ p.description }}</p>{% endif %}
	{% endif %}
{% endmacro creation_status_widget %}

{% macro banner_id(banner_id, banner_config="") -%}
	{%- if not banner_config -%}
		{%- set banner_config = load_data(path="banners.toml", format="toml") -%}
	{%- endif -%}
	{%- set banner_id = banner_config._aliases_[banner_id] | default(value=banner_id) -%}
	{%- if banner_config[banner_id] -%}
		{{- banner_id -}}
	{%- elif banner_config._aliases_.default -%}
		{%- if banner_config[banner_config._aliases_.default] -%}
			{{- banner_config._aliases_.default -}}
		{%- endif -%}
	{%- endif -%}
{% endmacro banner %}

{% macro banner(banner_id, banner_config="") %}
	{%- if not banner_config -%}
		{%- set banner_config = load_data(path="banners.toml", format="toml") -%}
	{%- endif -%}
	{%- set banner = banner_config[banner_id] -%}
	{% if banner %}
	<!--banner: {{banner_id}}-->
	<p class="banner banner-theme-{{ banner.theme | split(pat="/") | first }} banner-style-{{ banner.theme | replace(from="/",to="--") }}">
		{{- banner.message | default(value="") -}}
	</p>
	{% endif %}
{% endmacro banner %}

{% macro banner_theme_id(banner_id, banner_config="") %}
	{%- if not banner_config -%}
		{%- set banner_config = load_data(path="banners.toml", format="toml") -%}
	{%- endif -%}
	{%- set banner = banner_config[banner_id] -%}
	{%- if banner -%}
		{{- banner.theme | split(pat="/") | first -}}
	{%- endif -%}
{% endmacro banner %}

