{% macro preview(title, date="", updated="", link, description, status="", wrapper_tag="section", title_tag="h3", section_title="", section_link="", class="", pinned=false, only_one_date=false) %}
<{{wrapper_tag}} class="h-entry preview">
	<{{title_tag}} class="p-name {{class}}"><a class="u-url" href="{{ link | safe }}">
		{{ title }}
	</a></{{title_tag}}>
	{% if description %}<p class="p-summary">{% if status  %}<b>{{ status }}</b> - {% endif %}{{ description }}</p>{% endif %}
	{% if section_title or date or updated %}<p class="metadata">
		{# Link to section #}
		{% if section_title %}
			{% if section_link %}<a href="{{ section_link | safe }}"{%else%}<span{% endif %} class="p-category">
				{{section_title}}
			{%- if section_link %}</a>{% else %}</span>{% endif -%}
		{% endif %}
		{# Insert date #}
		{% if not updated or not only_one_date %}
			{% if updated %}<s>{% endif%}
			{% if date %}<time class="dt-published">{{ date }}</time>{% endif %}
			{%- if updated %}</s> {% endif %}
		{% endif %}
		{% if updated%}<time title="last update" class="decoration-data-update dt-updated">{{ updated }}</time>{% endif %}
		{% if pinned %}<span class="pinned-indicator">(pinned)</span>{% endif %}
	</p>{% endif %}
</{{wrapper_tag}}>
{% endmacro preview %}

{% macro smart_page_preview(page, show_section=true, pinned=false) %}
	{% set section = get_section(path = page.ancestors | last ) %}
	{% set class = "" %}
	{% if show_section %}
		{% set section_title = section.extra.short_title|default(value=section.title) %}
		{% set section_link = section.permalink %}
	{% endif %}
	{% if section.extra.show_date|default(value="true") or not updated %}
		{% set date = page.date %}
	{% endif %}
	{# Always show the updated date #}
	{% set updated = page.updated %}
	{{ self::preview(title=page.title, date = date|default(value=""),  updated = updated|default(value=""), link = page.permalink, description = page.description, section_title = section_title|default(value=""), section_link = section_link|default(value=""), status=page.extra.creation_status|default(value=""), class=class, pinned=pinned, only_one_date= not section.extra.show_date|default(value=true)) }}
{% endmacro smart_preview %}

{% macro linkbutton(txt="", href, icon="")%}
<p class="button-paragraph">
	<a {% if icon %}class="decoration-{{ icon }}" {% endif %}href="{% if href 
	is starting_with("@") %}{{ get_url(path=href) | safe }}{% else %}{{ href }}{% endif %}">
		{% if txt %}{{ txt | safe }}{% else %}{{href}}{% endif %}
	</a>
</p>
{% endmacro linkbutton%}

{% macro page_metadata_line(page) %}
{%- if page.date or page.updated -%}
<p class="metadata">
	{%- if page.date %}Date: <time class="dt-published">{{page.date}}</time>{% endif %}
	{%- if page.updated %}
		{%- if page.date %}, {% endif %}Updated: <time class="dt-updated">{{page.updated}}</time>
	{%- endif %}
	{%- if page.taxonomies is containing("topics") %}
		— Topic{% if page.taxonomies.topics|length > 1 %}s{% endif %}:
		{% for topic in page.taxonomies.topics -%}
			<a href="/topics/#{{topic|slugify}}" class="p-category" rel="tag">
				{{-topic-}}
			</a>{% if not loop.last %}, {% endif -%}
		{%- endfor %}
	{%- endif %}
	{%- if page.taxonomies is containing("lang") %}
		— Lang{% if page.taxonomies.lang|length > 1 %}s{% endif %}:
		{% for lang in page.taxonomies.lang -%}
			<a href="/lang/#{{lang|slugify}}" class="p-category" rel="tag">
				{{-lang-}}
			</a>{% if not loop.last %}, {% endif -%}
		{%- endfor %}
	{%- endif %}
	— by {% for author in page.authors -%}
		<span class="p-author">{{author}}</span>
		{%- if not loop.last %}, {% endif -%}
	{%- else -%}
		<span class="p-author">{{config.author}}</span>
	{%- endfor %}
</p>
{%- endif -%}
{% endmacro page_metadata_line %}

{% macro cachebusted(path) %}
	{{- path }}?cache={{ get_hash(path=path) | truncate(length=6, end="") -}}
{% endmacro cachebusted%}
