{% extends "base.html" %}
{% import "helpers.html" as helper %}

{% block after_content %}

{% set blog_section = get_section(path="blog/_index.md") %}

{% set notebook_section = get_section(path="notebook/_index.md") %}
{% set creations_section = get_section(path="creations/_index.md") %}

{% set merged_feed = [] %}
{% set_global max_merged_feed_items = 7 %}
{% set sections = [blog_section, notebook_section, creations_section] %}

{# An insertion sort because I can't utilize a builtin :( with custom sorting criteria #}
{% for i in range(end=max_merged_feed_items) %}
	{% set_global candidate = "" %}
	{% set_global candidate_date = "" %}
	{% for section in sections %}
		{% for page in section.pages %}
			{# Test if we want the item at all #}
			{% if page not in merged_feed %}
				{% set comp = page.updated|default(value=page.date) %}
				{% set res = [comp,candidate_date] | sort() | nth(n=1) %}
				{% if res == comp or page.extra.pinned %}
					{% if not candidate.extra.pinned|default(value=false) %}
						{% set_global candidate = page %}
						{% set_global candidate_date = comp %}
					{% endif %}
				{% endif %}
			{% endif %}
		{% endfor%}
	{% endfor %}
	{% if candidate %}
		{% set_global merged_feed = merged_feed | concat(with=candidate) %}
	{% else %}
		{% break %}
	{% endif %}
{% endfor %}

<section class="h-feed">
	<h2>Recently updated Pages</h2>
	{% for page in merged_feed %}
		{{ helper::smart_page_preview(page = page, pinned=page.extra.pinned|default(value=false)) }}
	{% endfor %}
	<p class="button-paragraph"><a href="atom.xml" class=" decoration-destination-feed">More entries in the Atom Feed</a></p>
</section>

{% endblock %}
