{% extends "base.html" %}
{% import "helpers.html" as helper %}

{% block content %}

<section>
	<h2>Contents</h2>
	<ul class="link-list">
{% for term in terms %}
		<li><a href="#{{term.name | slugify}}">{{term.name}} ({{term.pages | length}})</a></li>
{% endfor %}
	</ul>
</section>


{% for term in terms %}
	<section class="h-feed" id="{{term.name | slugify}}">
		<h2 class="p-name">{{ term.name }}</h2>
		{% for page in term.pages %}
			{{ helper::smart_page_preview(page=page) }}
		{% endfor %}
	</section>
{% endfor %}
	
{% endblock %}

